@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&family=Lexend:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #ffffff;
  background-image:
    linear-gradient(to right, #00000015 1px, transparent 1px),
    linear-gradient(to bottom, #00000015 1px, transparent 1px);
  background-size: 80px 80px;
}

.p-select-overlay {
  background-color: white !important;

  .p-select-option {
    color: #0a0a0a !important;

    &.p-select-option-selected {
      background-color: #f0f0f0 !important;
      color: #0a0a0a !important;
    }
  }
}
